extends ../layout

block content

  div.sidebarNav
    a(href='/authors')
      img.splashPictureIndex(src='images/author.jpg')
      h1.subjectIndex Authors
  div.sidebarNav
    a(href='/books')
      img.splashPictureIndex(src='images/books.jpg')
      h1.subjectIndex Books
  div.addBook
    a(href='/books/new') Add a book!
  each book in books
    div.booksIndex
      img.booksCard(src='#{book.url}')
      p #{book.title}
      p #{book.fname_1} #{book.lname_1}, #{book.fname_2} #{book.lname_2} & #{book.fname_3} #{book.lname_3}
      p #{book.genre}
      p #{book.description}
