extends ../layout

block content

  div.sidebarNav
    a(href='/authors')
      img.splashPictureIndex(src='images/author.jpg')
      h1.subjectIndex Authors
  div.sidebarNav
    a(href='/books')
      img.splashPictureIndex(src='images/books.jpg')
      h1.subjectIndex Books
  div.addBook
    a(href='/books/new') Add a book!
  each book in books
    div.booksIndex
      a(href='/books/#{book.id}')
        img.booksCard(src='#{book.url}')
        h1 #{book.title}
        h2 #{book.genre}
        h3.authorText Authors
          each author in authors
            if book.id == author.book_id
              a.authorName(href='/authors/#{author.author_id}')
                p #{author.first_name} #{author.last_name}  
        p #{book.description}
