extends ../layout

block content

  div.sidebarNav
    a(href='/authors')
      img.splashPictureIndex(src='../images/author.jpg')
      h1.subjectIndex Authors
  div.sidebarNav
    a(href='/books')
      img.splashPictureIndex(src='../images/books.jpg')
      h1.subjectIndex Books
  if books
    div.booksIndex
      img.booksCard(src='#{books.url}')
      p #{books.title}
        each author in authors
          if books.id == author.book_id
            p #{author.first_name} #{author.last_name}
      p #{books.genre}
      p #{books.description}
      a(href='/books/#{books.id}/edit')
        button Edit
      form(action='/books/#{books.id}/delete' method='post')
          input.btnDelete(type='submit' value='Delete')
