extends ../layout

block content

  div.sidebarNav
    a(href='/authors')
      img.splashPictureIndex(src='images/author.jpg')
      h1.subjectIndex Authors
  div.sidebarNav
    a(href='/books')
      img.splashPictureIndex(src='images/books.jpg')
      h1.subjectIndex Books
  div.addBook
    a(href='/authors/new') Add a author!
  each author in authors
    div.authorIndex
      a(href='/authors/#{author.id}')
        img.authorCard(src='#{author.author_url}')
        p #{author.first_name} #{author.last_name}
          div.booksWrite
            p Books written
              each book in books
                if author.id == book.author_id
                  a.booksWritten(href='/books/#{book.book_id}')
                    p #{book.title}
        p #{author.bio}
