extends ../layout

block content

  div.sidebarNav
    a(href='/authors')
      img.splashPictureIndex(src='../images/author.jpg')
      h1.subjectIndex Authors
  div.sidebarNav
    a(href='/books')
      img.splashPictureIndex(src='../images/books.jpg')
      h1.subjectIndex Books
  if authors
    div.booksIndex
      img.booksCard(src='#{authors.author_url}')
      p #{authors.first_name} #{authors.last_name}
      p Books Written
      div.booksWritten
          each book in books
            if authors.id == book.author_id
              a(href='/books/#{book.book_id}')
                p #{book.title}
      p #{authors.bio}
      a(href='/authors/#{authors.id}/edit')
        button.edit Edit
      a(href='/authors/#{authors.id}/delete')
        button.delete Delete
